[Unit]
Description=Logactaesque Dice Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill hexsaw/logactaesque-dice
ExecStartPre=-/usr/bin/docker rm hexsaw/logactaesque-dice
ExecStartPre=/usr/bin/docker pull hexsaw/logactaesque-dice
ExecStart=/usr/bin/docker run -p 8080:8080 hexsaw/logactaesque-dice
ExecStop=-/usr/bin/docker rm -f hexsaw/logactaesque-dice

[Install]
WantedBy=multi-user.target
